*{
    
    font-family: sans-serif;
    box-sizing: border-box;
}
 
 
.principal{
    border: 2px solid rgba(27, 27, 28, 0.726);
    display: flex;
    width: 900px;
    margin: auto;
}
.Conteneur img{
    width: 200px;
    height: 100%;
    border: 2px solid black;
    border-right: 0;
    padding-left: 3px;
    background: linear-gradient(green red);
   }
   #incon{
    border: 1px solid #d60c0c;
}
input[type="radio"]{
    accent-color: green;
}
#MEAL{
    border: 1px solid #0cd656;
}
   .conten{
    display: flex; 
}
.conten-gauche{
    padding: 20px;
    max-width: 850px;
     margin: auto;      
}
.conten-droite{
      padding: 20px;
      max-width: 850px;
      margin: auto;
    
}
.Conteneur form{
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 40px;
    padding-bottom: 20px;  
}
#meal{
    margin-bottom: 5px;
}
.SA{
    display: flex;
   margin-top:20px;
}
.input-bo{
    display: flex;
    flex-wrap: wrap; 
    padding-bottom:35px;
    font-weight: bold;
}
form :where(.SA){
    align-items: center;
 }
 
.DD{
    padding-left: 50px;
    font-weight: normal;
}

 .input-box i {
    position: relative;
     left: 245px;
     top: -22px;
    transform: translate(-50);
    color: #ca0707;     
}
.detail{
    margin-left: 20px;
    font-weight:normal;
}
 
 
h3{
    color:floralwhite;
     margin-left: -170px;
     margin-top: 250px;
}
.conten-gauche{
    display: inline-block;     
}

.conten-droite{
    display: inline-block;
    
}
.input-box{
    display: flex;
    flex-wrap: wrap;
    padding-bottom:15px;    
}
.mal{
     color: #0cd656;
}
.input-box label{
     
    color: #1e1d1d;
    font-weight: bold;
    margin: 5px 0;
}
 
.input-box input{
    width: 260px;
    height: 35px;
    
}
.box{
    width: 100%;
}
.box{
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: #333;
    padding-left: 35px;
    padding-right: 35px;
}
.box .bar{
    width: 100%;
    height: 3px;
    margin-top: 8px;
    background: rgba(0, 0, 0, 0.1);
}
.bar .skill-per{
    position: relative;
    display: block;
    width: 50%;
    height: 100%;
    background: green;
}
.skill-per .tooltip{
    position: absolute;
    right: -18px;
    top: -10px;
    background: green;
    font-size: 9px;
    font-weight: 500;
    color: white;
    padding: 6px 6px;
}
.Buton{
   font-size: 18px;
     padding: 20px;
    float: right;
}
.SUBMIT {
    background-color: green;
    border: none;
    color: #fff;
    
    width: 80px;
    padding: 12px;
}
.RESET{
    background-color: #fff;
    border: 1px solid green;
    color: #333;
   padding: 12px;
    width: 80px;
}

@media(max-width:700px){
    .Conteneur{
        min-width: 200px;
    }
    .conten{
          flex-direction: column;
    }
    .input-box {
        margin-bottom: 12px;
        width: 50%;
    }
    .input-box i{
        left: 150px;
    }
    .Conteneur img{
        width: 170px;
    }
    .Buton{
        float: none;
    }
     h3{
       background-color: #0cd656;
         padding-left:0;
          
    } 
    .input-box{
        padding-bottom: 5px;
         
    }
    .box{
        width: 90%;
    }
    .principal{
        width: 100%;
    }
    .conten-droite{
        padding: 0;
    }
    .input-box:nth-child(2n){
        justify-content: space-between;
    }
    .detail{
        margin-left:50px;
    }
    .DD {
        display: flex;
        justify-content: space-between;
        width: 60%;
    }
     
    .conten::-webkit-scrollbar{
        width: 0;
    }
}
